.button-container {
  background-color: transparent;
  border: 0;
  padding: 0;
  display: inline-block;
  cursor: pointer;
}
.button-iconImg {
  width: 48px;
  height: 48px;
  vertical-align: middle;
}