.App {
  width: 30%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  text-align: center;
}

.count {
  width: 100%;
  display: inline-block;
  position: relative;
  font-size: 2em;
  text-align: center;
  margin: 16px 0 32px 0;
}

.flex-vertical-center {
  display: flex;
  align-content: center;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-space-between {
  justify-content: space-between;
}